
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
<h2> Change calendar dates and page-specific access</h2>
{% endblock %}

{% block content %}
{% crispy form %}
{% endblock content %}

{% block scripts %}

{# add DateTimePicker js #}
{{ form.media }}

<script type="text/javascript">
$(function() {
    $.fn.bootstrapSwitch.defaults.size = 'mini';
    $.fn.bootstrapSwitch.defaults.onText = 'VISIBLE'
    $.fn.bootstrapSwitch.defaults.offText = 'HIDDEN'
//    $("input.checkbox").bootstrapSwitch()
});
</script>

{% endblock %}





