
django
requests
pytz
mammoth
bleach

django-extensions
django-filter
django-vanilla-views
django-crispy-forms

#django-braces>1.4.0 # need Login/Permission compatibility in master
# wait for version > 1.4.0
-e git+git://github.com/brack3t/django-braces.git#egg=django-braces

# Need version>2.2.3. need PR #14 which fixes an early jquery dependency:
-e git+git://github.com/nkunihiko/django-bootstrap3-datetimepicker.git#egg=django-bootstrap3-datetimepicker
#-e git+git://github.com/furious-luke/django-address.git#egg=django-address

# heroku
django-toolbelt 
whitenoise
django-postgrespool

# monitoring
raven 

# s3
django-storages-redux
boto

# testing
model_mommy
coverage
#django-coverage
webtest
django-webtest

