

coverage
#django-coverage

django
django_cas_sso

#django-grappelli
# need dev version for django 1.7 compatibility
#git+git://github.com/sehmaschine/django-grappelli.git@dev/2.6.x


#django-braces>=1.4.0 # need Login/Permission compatibility in master
-e git+git://github.com/brack3t/django-braces.git#egg=django-braces
django-easyfilters
django-vanilla-views
django-crispy-forms
django-bootstrap3

#mezzanine
#mezzanine-grappelli
#-e git+git://github.com/renyi/mezzanine-blocks#egg=mezzanine-blocks

# heroku
django-toolbelt 

# testing
model_mommy
behave
splinter
lxml
cssselect

