
django
django_cas_sso
-e git+git://github.com/comoga/django-constance#egg=django-constance
model_mommy
django-grappelli
django-easyfilters
django-vanilla-views
south
django-crispy-forms
django-bootstrap3

mezzanine
mezzanine-grappelli
-e git+git://github.com/renyi/mezzanine-blocks#egg=mezzanine-blocks
