{% extends "db/base.html" %}

{% load links %}

{% block content %}

<div>
  <h3> Campsites </h3>
  <p> The date matrix shows which Scheduled Trips are staying at each campsite on that date. <strong>Todo:</strong> show when campsite capacity is exceeded.</p>
</div>

<table class="table table-condensed">
  <tr>
    <th>Campsite</th>
    <th>Capacity</th>
    {% for date in camping_dates %}
    <th> {{ date }} </th>
    {% endfor %}
  </tr>
  {% for campsite in campsites %}
  <tr>
    <td> {{ campsite|detail_link}} </td>
    <td> {{ campsite.capacity }} </td>
    
    {% for trips in campsite.get_occupancy_list %}
    <td> {% for trip in trips %} {{ trip | detail_link:trip }} {% endfor %} </td>
    {% endfor %}

    <td> {{ campsite|edit_link }} </td>
    <td> {{ campsite|delete_link }} </td>
  </tr>
  {% endfor %}
</table>

<a href="{% create_url model trips_year %}" class="btn btn-primary" role="button">
  Add a campsite
</a>

{% endblock %}
