{% extends "db/base.html" %}
{% load links %}
{% load icons %}

{% block content %}

<table class="table">
  <tr>
    <th>Section</th>
    <th>Leaders Arrive</th>
    <th>Local</th>
    <th>Exchange</th>
    <th>Transfer</th>
    <th>International</th>
    <th>Native American</th>
    <th>FYSEP</th>
  </tr>
  
  {% for section in sections %}
  <tr>
    <td>{{ section | detail_link }}</td>
    <td>{{ section.leaders_arrive }}</td>
    <td>{{ section.is_local | checkmark_if_true }}</td>
    <td>{{ section.is_exchange | checkmark_if_true }}</td>
    <td>{{ section.is_transfer | checkmark_if_true }}</td>
    <td>{{ section.is_international | checkmark_if_true }}</td>
    <td>{{ section.is_native | checkmark_if_true }}</td>
    <td>{{ section.is_fysep | checkmark_if_true }}</td>
    <td>{{ section|edit_link }}</td>
    <td>{{ section|delete_link }}</td>
  </tr>
  {% endfor %}
</table

<br>
<a href="{% create_url model trips_year %}" class="btn btn-primary" role="button">
  Add another section
</a>

{% endblock %}
