{% extends "db/base.html" %}
{% load links %}

{% block content %}

<div>
  <h3> Trip Templates </h3>
  <p> Trip Templates provide all the logistical information for a trip. </p>
</div>

<table class="table">
  <tr>
    <th> Template </th>
    {% comment %} <th> Description </th> {% endcomment %}
    <th> Trip Type </th>
    <th> Max trippees </th>
    <th> Campsite #1 </th>
    <th> Campsite #2 </th>
    <th> Dropoff </th>
    <th> Pickup </th>
  </tr>
  {% for template in templates %}
  <tr>
    <td>{{ template | detail_link }}</td>
    {% comment %} <td>{{ template.description_summary }}</td> {% endcomment %}
    <td>{{ template.triptype | detail_link }}</td>
    <td>{{ template.max_trippees }}</td>
    <td>{{ template.campsite1 | detail_link }}</td>
    <td>{{ template.campsite2 | detail_link }}</td>
    <td> {{ template.dropoff | detail_link }} </td>
    <td> {{ template.pickup | detail_link }} </td>
    <td>{{ template | edit_link }}</td>
    <td>{{ template | delete_link }}</td>
  <tr>
  {% endfor %}
</table>

<a href="{% create_url model trips_year %}" class="btn btn-primary" role="button">
  Add a trip template
</a>

{% endblock %}
