{% extends "db/base.html" %}
{% load links %}

{% block content %}

<h3> Trip Types </h3>

<table class="table">
  <tr>
    <th>Trip type</th>
    <th>Leader Description</th>
    <th>Trippee Description</th>
  </tr>
  {% for type in triptypes %}
  <tr> 
    <td>{{ type | detail_link }}</td>
    <td>{{ type.leader_description }}</td>
    <td>{{ type.trippee_description }}</td>
    <td>{{ type | edit_link }}</td>
    <td>{{ type | delete_link }}</td>
  </tr>
  {% endfor %}
</table>

<a href="{% create_url model trips_year %}" class="btn btn-primary" role="button">
  Add a new type of trip
</a>

{% endblock %}
