{% extends "db/base.html" %}

{% load links %}

{% block content %}

<table class="table">
  <tr>
    <th>Template</th>
    <th>Type</th>
    <th>Description</th>
    <th>Max trippees</th>
    {% for section in sections %}
    <th>{{ section }}</th>
    {% endfor %}
  </tr>
  {% for template in templates %}
  <tr>
    <td> {{ template | detail_link }} </td>
    <td> {{ template.trip_type.name }} </td>
    <td> {{ template.description }} </td>
    <td> {{ template.max_trippees }} </td>

    {% for section, trip in template.get_scheduled_trips.items %}
    {% if trip %}
    <td>{{ trip | detail_link }}</td>
    {% else %}
    <td><a href="{% url 'db:scheduledtrip_create' trips_year=section.trips_year.year %}?template={{ template.pk }}&section={{ section.pk }}">add</a></td>
    {% endif %}
    {% endfor %}

  </tr>
  {% endfor %}
</table>

{% endblock %}
