{% extends "db/base.html" %}
{% load links %}

{% block content %}

<div>
  <h3> Croo Applications </h3>
</div>

<table class="table table-condensed">
  <tr>
    <th> Applicant </th>
    <th> Status </th>
    <th> Assignment </th>
  </tr

  {% for application in crooapplications %}
  <tr> 
    <td> {{ application | detail_link:application.applicant }} </td>
    <td> {{ application.status }} </td>
    <td> {{ application.assigned_croo | detail_link }} </td>
    <td> {{ application | edit_link }} </td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
