
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h3> Grade Croo Application </h3>
<p> Read the app carefully, give it a grade, and add any pertinent comments. Grades from 1-6. </p>

<table class="table table-condensed table-striped">
{% for answer in application.answers.all %}

<tr>
  <td class="col-sm-3 text-right"><strong>{{ answer.question.question }}</strong></td>
  <td>{{ answer.answer }}</td>
</tr>

{% endfor %}
</table>

<div>
{% crispy form %}
</div>

{% endblock content %}
