{% load packing_list %}

{% if trip %}
{% with section=trip.section fmt="F jS"%}
<p>
<ul class="list-group">

  <li class="list-group-item">
    <h3 class="list-group-item-heading"> Trip Assignment <small> {{ trip }}: {{ trip.template.description_summary }} </small></h3>
    <p> <strong>{{ trip.template.triptype.name }}</strong> {{ trip.template.triptype.trippee_description }} </p>

    {% if trip.template.swimtest_required %}
    <p> You will be required to pass a swim test upon arrival in Hanover. </p>
    {% endif %}

    <p><strong> Please read the following information carefully, and don't hesitate to <a href="{{ contact_url }}"> contact us </a> if you have any questions.</strong></p>
  </li>

  <li class="list-group-item">
    <strong> Section {{ section.name }} &mdash; {{ section.trippee_date_str }} </strong> <br>
    Plan to arrive in Hanover between <strong>2-4pm on {{ section.trippees_arrive|date:fmt }}</strong>. Your trip will return to Hanover between <strong>12-3pm on {{ section.return_to_campus|date:fmt }}</strong>&mdash;please don't make plans to leave Hanover before 3.

  </li>

  <li class="list-group-item">
    <strong> Bus </strong> <br>
    {% with bus=incoming_student.bus_assignment_round_trip bus_to_hanover=incoming_student.bus_assignment_to_hanover bus_from_hanover=incoming_student.bus_assignment_from_hanover %}
    {% if bus %}
    <div>
      <p> You are assigned to the <strong>{{ bus }}</strong> bus. {{ bus.directions }} </p>
      <p> The bus to Hanover will leave the stop at <strong>{{ bus.pickup_time }}, {{ trip.section.trippees_arrive|date:fmt }}</strong>. Please show up early! </p>
      <p> The bus bringing you back from Hanover will drop you off at <strong>{{ bus.dropoff_time }}, {{ section.return_to_campus|date:fmt }}</strong>. </p>
    </div>
    {% elif bus_to_hanover or bus_from_hanover %}
    <div>
      {% if bus_to_hanover %}
      <p> You are assigned to the <strong>{{ bus_to_hanover }}</strong> bus <strong>one-way TO</strong> Hanover. {{ bus_to_hanover.directions }} The bus will leave the stop at <strong>{{ bus_to_hanover.pickup_time }}, {{ trip.section.trippees_arrive|date:fmt }}</strong>. Please show up early! </p>
      {% endif %}

      {% if bus_from_hanover %}
      <p> You are assigned to the <strong>{{ bus_from_hanover }}</strong> bus <strong>one-way FROM</strong> Hanover. {{ bus_from_hanover.directions }} The bus will drop you off at <strong>{{ bus_from_hanover.dropoff_time }}, {{ section.return_to_campus|date:fmt }}</strong>. </p>
      {% endif %}
    </div>
    {% else %}
    <p> You are not assigned to a local bus. If you think this is a mistake please <a href="{{ contact_url }}">contact us</a>. </>
    {% endif %}
    {% endwith %}
  </li>

  {% if incoming_student.notes %}
  <li class="list-group-item">
    <strong> Notes </strong> <br>
    {{ incoming_student.notes }}
  </li>
  {% endif %}

  <li class="list-group-item">
    <strong> Cost </strong> <br>
    {% if incoming_student.financial_aid %}
    With your financial aid award of {{ incoming_student.financial_aid }}%, the
    {% else %}
    The
    {% endif %}
    total cost of Trips is ${{ incoming_student.compute_cost }} (this includes, if you selected any of these options: the cost of a local bus, DOC membership, and your Green Fund donation.) This total will be charged to your college account and appear on your first tuition bill.
  </li>

  <li class="list-group-item"><strong> Packing List </strong>
    {% packing_list trip.template.triptype %}
  </li>

</ul>
</p>

{% endwith %}
{% else %}
<p> You are not currently assigned to a trip </p>
{% endif %}
