{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load links %}
{% load render_table from django_tables2 %}

{% block header %}
<h2> <span class="badge"> {{ registration_count }} </span> Trippee Registrations
</h2>
{% endblock %}

{% block right_column %}

{% crispy filter.form %}

<br><br><br><br><br>
<ul class="list-group">

  <a class="list-group-item" href="{% url 'core:reports:registrations' trips_year=trips_year %}">
    <i class="fa fa-download"></i> All Registrations
  </a>

  <a class="list-group-item" href="{% url 'core:reports:financial_aid' trips_year=trips_year %}">
    <i class="fa fa-download"></i> Financial Aid Requests
  </a>

  <a class="list-group-item" href="{% url 'core:reports:bus_stops' trips_year=trips_year %}">
    <i class="fa fa-download"></i> External Bus Requests
  </a>

  <a class="list-group-item" href="{% url 'core:reports:doc_members' trips_year=trips_year %}">
    <i class="fa fa-download"></i> DOC Members
  </a>

  <a class="list-group-item" href="{% url 'core:reports:dietary' trips_year=trips_year %}">
    <i class="fa fa-download"></i> Dietary Info
  </a>

  <a class="list-group-item" href="{% url 'core:reports:medical' trips_year=trips_year %}">
    <i class="fa fa-download"></i> Medical Info
  </a>

  <a class="list-group-item" href="{% url 'core:reports:feelings' trips_year=trips_year %}">
    <i class="fa fa-download"></i> Feelings
  </a>

  <a class="list-group-item" href="{% url 'core:registration:nonstudent' trips_year=trips_year %}">
    <i class="fa fa-plus"></i> Non-Student Registration
  </a>
<ul>

{% endblock right_column %}

{% block content %}

<br>

{% if unmatched %}
<div class="alert alert-danger alert-dismissible">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
 <h4> <i class="fa fa-warning"></i> The following registrations are missing incoming student data: </h4>
 <p>
  <ul>
    {% for reg in unmatched %}
    <li> {{ reg|detail_link }} </li>
    {% endfor %}
  </ul>
 </p>
 <p>
   <a class="alert-link" href="{% url 'core:incomingstudent:upload' trips_year=trips_year %}">Upload</a> incoming student data for these registrations in order to assign them to a trip.
 </p>
</div>
{% endif %}

{% render_table table %}

{% endblock content %}
