{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
<h1> Registration <small> Trips {{ trips_year }} </small></h1>
{% endblock header %}

{% block content %}
<p><strong> Not {{ user }}</strong>? <a href="{% url 'users:logout' %}">logout <i class="fa fa-sign-out"> </i></a></p>

<h4> Registration is due {{ registration_deadline }} </h4>
<p> You can come back and edit your registration at any time before the deadline. Don't forget to click 'Submit' and save your changes! </p>

<p> If you have any issues with your registration please <a href="{{ contact_url }}"> contact us.</a>

{% crispy form %}

{% endblock content %}
