{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load links %}
{% load render_table from django_tables2 %}

{% block header %}
<h2> <span class="badge"> {{ registration_count }} </span> Trippee Registrations
</h2>
{% endblock %}

{% block right_column %}
{% crispy filter.form %}
{% endblock right_column %}

{% block content %}

{% if unmatched %}
<div class="alert alert-danger alert-dismissible">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
 <h4> <i class="fa fa-warning"></i> The following registrations are missing incoming student data: </h4>
 <p>
  <ul>
    {% for reg in unmatched %}
    <li> {{ reg|detail_link }} </li>
    {% endfor %}
  </ul>
 </p>
 <p>
   <a class="alert-link" href="{% url 'core:incomingstudent:upload' trips_year=trips_year %}">Upload</a> incoming student data for these registrations in order to assign them to a trip.
 </p>
</div>
{% endif %}

<div>
  {% url 'core:registration:nonstudent' trips_year=trips_year as url_ %}
  {{ url_|upload_button:"Non-Student Registration" }}

  {% url 'core:reports:registrations' trips_year=trips_year as url_ %}
  {{ url_|download_button:"All Registrations" }}

  {% url 'core:reports:financial_aid' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Financial Aid Requests" }}

  {% url 'core:reports:bus_stops' trips_year=trips_year as url_ %}
  {{ url_|download_button:"External Bus Requests" }}

  {% url 'core:reports:doc_members' trips_year=trips_year as url_ %}
  {{ url_|download_button:"DOC Members" }}

  {% url 'core:reports:dietary' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Dietary Info" }}

  {% url 'core:reports:medical' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Medical Info" }}

  {% url 'core:reports:feelings' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Feelings" }}
</div>

<br/>

{% render_table table %}

{% endblock content %}
