{% extends "core/base.html" %}
{% load links %}
{% load render_table from django_tables2 %}

{% block header %}
<h2>
  <span class="badge"> {{ trippees.count }} </span> Incoming Students
</h2>
{% endblock %}

{% block content %}

<div>
  {% url 'core:incomingstudent:upload' trips_year=trips_year as url_ %}
  {{ url_|upload_button:"Upload Incoming" }}

  {% url 'core:incomingstudent:upload_hb' trips_year=trips_year as url_ %}
  {{ url_|upload_button:"Upload Hinman Boxes" }}

  {% url 'core:reports:charges' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Charges" }}

  {% url 'core:reports:housing' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Housing" }}

  {% url 'core:reports:trippees' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Trippees" }}
</div>

{% render_table table %}

{% endblock content %}
