{% extends "core/base.html" %}
{% load detail_view %}
{% load links %}
{% load gear %}

{% block header %}
<h2> {{ trippee }} <small> Trippee {{ object.delete_url|delete_button }} </small></h2>
{% endblock %}

{% block content %}

<h3> Assignments {{ edit_assignment_url|edit_button }} </h3>
<table class="table table-condensed table-striped expand-whitespace">
  <tr>
    <td class="col-sm-3 text-right"><strong> Trip Assignment </strong></td>
    <td> {{ object.trip_assignment|detail_link|default:"*" }} </td>
    <td class="col-sm-3 text-right"> </td>
    <td> </td>
  </tr>
  <tr>
    <td class="col-sm-3 text-right"><strong> Bus Assignment <br>(round-trip)</strong></td>
    <td> {{ object.bus_assignment_round_trip|detail_link|default:"*" }} </td>
    <td class="col-sm-3 text-right"> <strong> Bus Request <br> (round-trip) </strong> </td>
    <td> {{ object.get_registration.bus_stop_round_trip|detail_link|default:"*" }} </td>
  </tr>
  <tr>
    <td class="col-sm-3 text-right"><strong> Bus Assignment <br> TO Hanover (one-way)</strong></td>
    <td > {{ object.bus_assignment_to_hanover|detail_link|default:"*" }} </td>
    <td class="col-sm-3 text-right"> <strong> Bus Request <br> TO Hanover (one-way) </strong> </td>
    <td> {{ object.get_registration.bus_stop_to_hanover|detail_link|default:"*" }} </td>
  </tr>
  <tr>
    <td class="col-sm-3 text-right"><strong> Bus Assignment <br> FROM Hanover (one-way)</strong></td>
    <td> {{ object.bus_assignment_from_hanover|detail_link|default:"*" }} </td>
    <td class="col-sm-3 text-right"> <strong> Bus Request <br> FROM Hanover (one-way) </strong> </td>
    <td> {{ object.get_registration.bus_stop_from_hanover|detail_link|default:"*" }} </td>
  </tr>
</table>

{% gear_request trippee.gear_request %}

<h3> Admin Info {{ edit_admin_url|edit_button }}</h3>
{% detail trippee view.admin_fields %}
<h3> College Data {{ edit_admin_url|edit_button }}</h3>
{% detail trippee view.college_fields %}

{% endblock content %}
