{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
<h2>Upload Incoming Student Data </h2>
{% endblock %}

{% block content %}
<p>
  You may upload multiple spreadsheets of incoming students. Existing data will not be overwritten by subsequent uploads.
</p>

<p> The database expects to find the following columns in the spreadsheet:
  <ul>
    <li> Id <i> (this is the students NetId) </i> </li>
    <li> Formatted Fml Name </li>
    <li> Class Year </li>
    <li> Gender </li>
    <li> Birthday </li>
    <li> Fine Ethnic Code </li>
    <li> Email </li>
    <li> Blitz </li>
    <li> PR Phone </li>
    <li> PR Street 1 </li>
    <li> PR Street 2 </li>
    <li> PR City </li>
    <li> PR State </li>
    <li> PR Zip </li>
    <li> PR Nation Name </li>
  </ul>
These column names were pulled from last year's incoming student data. Let me know if the headers have changed dramatically and I can tweak the expectations of the input. The order of the columns in spreadsheet does not matter. Any extra columns will be ignored.
</p>

<form enctype="multipart/form-data" method="post" action="">
{% crispy form %}
</form>

{% endblock content %}
