

{% load links %}

<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    {% for date in camping_dates %}
    <th> {{ date }} </th>
    {% endfor %}
  </tr>
  {% for campsite in campsites %}
  <tr>
    <td> {{ campsite.name }} </td>
    <td> {{ campsite.capacity }} </td>
    
    {% for trips in campsite.get_occupancy_list %}
    <td> 
      {% for trip in trips %}
      <a href="{{ trip.get_update_url }}">{{ trip }} </a><br/>
      {% endfor %}
    </td>
    {% endfor %}

    <td> {{ campsite|edit_link }} </td>
  </tr>
  {% endfor %}
</table>
