interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-lookup.dartmouth.edu/v1/lookup?q=Robert+L.+Marchman
  response:
    body: {string: '{"truncated":false,"users":[{"uid":"a002bxd","eduPersonPrimaryAffiliation":"Alum","mail":"Robert.L.Marchman.IV.76@Dartmouth.edu","displayName":"Robert
        L. Marchman IV"},{"uid":"d34898x","eduPersonPrimaryAffiliation":"Staff","mail":"Robert.L.Marchman@Dartmouth.edu","displayName":"Robert
        L. Marchman"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://api-lookup.dartmouth.edu/v1/lookup?q=Robert+L.+Marchmanxyzsgasdgasdf
  response:
    body: {string: '{"truncated":false,"users":[]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: null
    headers:
    method: GET
    uri: https://api-lookup.dartmouth.edu/v1/lookup?q=Robert+L.+Marchman+IV
  response:
    body: {string: '{"truncated":false,"users":[{"uid":"a002bxd","eduPersonPrimaryAffiliation":"Alum","mail":"Robert.L.Marchman.IV.76@Dartmouth.edu","displayName":"Robert
        L. Marchman IV"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: ''}
version: 1
