
{% extends "base.html" %}

{% block left_column %}
<div class="sidebar navbar-default no-print" role="navigation">
  <div class="sidebar-nav navbar-collapse">

  <ul id="sidebar-menu" class="nav text-muted">
    <li role="presentation">
      <a href="#"> <i class="fa fa-fw fa-fire"></i> Trips <i class="fa arrow"></i> </a>

      <ul class="nav nav-stacked">
	<li> <a href="{% url 'db:trip:index' trips_year=trips_year %}"> Scheduled Trips </a> </li>
	<li> <a href="{% url 'db:leader_index' trips_year=trips_year %}"> Leaders & Trippees </a> </li>
	<li> <a href="{% url 'db:trip:people_counts' trips_year=trips_year %}"> Leader & Tripee Counts </a> </li>
	<li> <a href="{% url 'db:section:index' trips_year=trips_year %}"> Sections </a> </li>
	<li> <a href="{% url 'db:triptemplate:index' trips_year=trips_year %}"> Trip Templates </a> </li>
	<li> <a href="{% url 'db:triptype:index' trips_year=trips_year %}"> Trip Types </a></li>
	<li> <a href="{% url 'db:campsite:index' trips_year=trips_year %}"> Campsites </a> </li>
      </ul>
    </li>

    <li>
      <a href="#"> <i class="fa fa-fw fa-bus"></i> Transport <i class="fa arrow"></i> </a>
      <ul class="nav nav-stacked">
	<li> <a href="{% url 'db:scheduledtransport:index' trips_year=trips_year %}"> Internal Buses </a> </li>
	<li> <a href="{% url 'db:externalbus:matrix' trips_year=trips_year %}"> External Buses</a> </li>

	<li> <a href="{% url 'db:stop:index' trips_year=trips_year %}"> Stops </a></li>
	<li> <a href="{% url 'db:route:index' trips_year=trips_year %}"> Routes </a> </li>
	<li> <a href="{% url 'db:vehicle:index' trips_year=trips_year %}"> Vehicles </a> </li>
      </ul>
    </li>

    <li>
      <a href="#"> <i class="fa fa-fw fa-heart"></i> Volunteers <i class="fa arrow"></i> </a>
      <ul class="nav nav-stacked">
	<li> <a href="{% url 'db:volunteer:index' trips_year=trips_year %}"></i> Applications </a> </li>
	<li> <a href="{% url 'db:croo:index' trips_year=trips_year %}"> Croos </a> </li>
	<li> <a href="{% url 'db:graders_index' trips_year=trips_year %}"> Graders </a> </li>
      </ul>
    </li>

    <li>
      <a href="#"> <i class="fa fa-fw fa-child"></i> Trippees <i class="fa arrow"></i> </a>
      <ul class="nav nav-stacked">
	<li> <a  href="{% url 'db:incomingstudent:index' trips_year=trips_year %}"> Incoming Students </a> </li>
	<li> <a  href="{% url 'db:registration:index' trips_year=trips_year %}"> Registrations </a> </li>
      </ul>
    </li>

    <li>
      <a href="#"> <i class="fa fa-fw fa-envelope"></i> Email Lists <i class="fa arrow"></i> </a>
      <ul class="nav nav-stacked">
	<li> <a href="{% url 'db:emails:applicants' trips_year=trips_year %}"> Applicants </a> </li>
	<li> <a href="{% url 'db:emails:leaders_by_triptype' trips_year=trips_year %}"> Leaders By Triptype</a> </li>
	<li> <a href="{% url 'db:emails:leaders_by_section' trips_year=trips_year %}"> Leaders By Section</a> </li>
	<li> <a href="{% url 'db:emails:incoming' trips_year=trips_year %}"> Incoming Students </a> </li>
	<li> <a href="{% url 'db:emails:trippees' trips_year=trips_year %}"> Trippees  </a> </li>
      </ul>
    </li>

    <li>
      <a href="{% url 'db:safety:list' trips_year=trips_year %}"> <i class="fa fa-fw fa-exclamation"></i> Incident Reports</a>
    </li>

    <li>
      <a href="{% url 'db:raids:home' trips_year=trips_year %}"> <i class="fa fa-fw fa-map-signs"></i> Raids </a>
    </li>

    <li>
      <a href="{% url 'db:reports:tshirts' trips_year=trips_year %}"> <i class="fa fa-fw fa-dollar"></i> T-Shirts </a>
    </li>

    <li>
      <a href="{% url 'db:foodbox:counts' trips_year=trips_year %}"> <i class="fa fa-fw fa-cutlery"></i> Foodboxes </a>
    </li>

    <li>
      <a href="{% url 'db:reports:statistics' trips_year=trips_year %}"> <i class="fa fa-fw fa-bar-chart"></i> Statistics </a>
    </li>

    <li>
      <a href="{% url 'db:checklists:all' trips_year=trips_year %}"> <i class="fa fa-fw fa-list-ul"></i> Packets </a>
    </li>

    <li>
        <a href="#"> <i class="fa fa-fw fa-calendar"></i> Past Years <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">

            {% for year in all_trips_years %}
            <li>
                 <a href="{% url 'db:landing_page' trips_year=year %}">{{ year }}
                     {% if year.year|lower == trips_year %}
                     <i class="fa fa-check"></i>
                     {% endif %}
                 </a>
            </li>
            {% endfor %}
        </ul>
    </li>

  </div>
</div>
{% endblock %}

{% block messages %}
{# Warn if looking at a previous year #}
{% if trips_year != current_trips_year.year|lower %}
    <div class="alert alert-warning">
        This page is for Trips {{ trips_year }}.
        <a href="{% url 'db:current' %}"> Return to {{ current_trips_year }} </a>
    </div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  $(function () {
      $('#sidebar-menu').metisMenu();
  });
</script>
{% endblock %}
