{% extends "db/base.html" %}
{% load detail_view %}
{% load verbose_name %}
{% load links %}

{% block header %}
<h2> {{ view.model|verbose_name|title }} <small> {{ object }} </small></h2>
{% endblock header %}

{% block content %}
{% block links %}
<p>
  {% if update_url %}
  <a href="{{ update_url }}" class="btn btn-primary"> 
    <i class="fa fa-wrench"></i> Edit 
  </a>
  {% endif %}
  {% if delete_url %}
  <a href="{{ delete_url }}" class="btn btn-danger"> 
    <i class="fa fa-trash"></i> Delete 
  </a>
  {% endif %}
<p>
{% endblock links %}

{% block description %}
{% endblock description %}

{% detail object view.fields %}

{% endblock content %}
