
body {
    padding-bottom: 3em;
}
    
.expand-whitespace {
    white-space: pre-line;
}

/* push 'Filter' button inline with input boxes */
.filter-submit {
    position: absolute;
    top: 1.7em;
}

/* line roles checkboxes up with text */
.filter-checkbox {
    position: absolute;
    top: -.7em;
}

/* shrink suggested croos filter */
.filter-croos div {
    margin-bottom: 0;
}
