
body {
    padding-bottom: 3em;
}
    
.expand-whitespace {
    white-space: pre-line;
}

/* push 'Filter' button inline with input boxes */
.filter-submit {
    position: absolute;
    top: 1.7em;
}