<h3> Leaders </h3>
<p>
  <hr class="hr-sm">
  {% for leader in trip.leaders.all %}
  <div class="no-page-break-inside">
    <h4> {{ leader }} ({{ leader.class_year }}) </h4>

    {% if leader.dietary_restrictions %}
    <strong> Dietary Restrictions: </strong> {{ leader.dietary_restrictions }}
    {% endif %}
    
    {% if leader.allergen_information %}
    <br> <strong> Allergen Information: </strong> {{ leader.allergen_information }}
    {% endif %}
    {# TODO: leader medical info #}
    <hr class="hr-sm">
  </div>
  {% endfor %}
</p>

<h3> Trippees </h3>
<p>
  <hr class="hr-sm">
  {% for trippee in trip.trippees.all %}
  <div class="no-page-break-inside">
    <h4>{{ trippee.name }} ({{ trippee.get_gender }} &mdash; {{ trippee.get_hometown }} &mdash; born {{ trippee.birthday }})</h4>

    {% with reg=trippee.get_registration %}
	<strong> Medical Conditions: </strong>
	{% if trippee.med_info %}
	  {# extra or overridden med info added to IncomingStudent #}
      {{ trippee.med_info }} 
	{% endif %}

    {% if trippee.show_med_info %}
      {# med info from registration #}
      {{ reg.medical_conditions }}
	  {% if reg.needs %}
      <br> <strong> Other Needs and Conditions: </strong> {{ reg.needs }}
      {% endif %}
	{% endif %}

    {% if reg.food_allergies %}
    <br> <strong> Food Allergies: </strong> {{ reg.food_allergies }}
    {% endif %}

    {% if reg.epipen %} 
    <br> <strong> Carries an EpiPen </strong> 
    {% endif %}

	{% if reg.dietary_restrictions %}
    <br> <strong> Dietary Restrictions: </strong> {{ reg.dietary_restrictions }}
	{% endif %}
    
    {% endwith %}
    <hr class="hr-sm">
  </div>
  {% endfor %}
</p>
