{% extends "core/base.html" %}
{% load links %}

{% block header %}
<h1> Trip Leaders and Trippees </h1>
{% endblock %}

{% block content %}

{% regroup trips by section as trips_by_section %}

{% for section in trips_by_section %}

<table class="table table-condensed">
  <tr class="bg-info">
    <th> {{ section.grouper }} </th>
    <th> Leaders </th>
    <th> Trippees </th>
  </tr>
  {% for trip in section.list %}
  <tr>
    <td class="col-sm-5">
      {{ trip|detail_link }}: {{ trip.template.description_summary }}
    </td>

    <td class="col-sm-4">
      {% for leader in trip.leaders.all %}
      {{ leader|detail_link }} <br>
      {% endfor %}
      <kbd>{{ trip.leaders.count }}/2</kbd>
      <a href="{% url 'core:assign_leader' trips_year=trips_year trip_pk=trip.pk %}"> <i class="fa fa-plus"></i> </a>
    </td>

    <td class="col-sm-3">
      {% for trippee in trip.trippees.all %}
      {{ trippee|detail_link }} <br>
      {% endfor %}
      <kbd>{{ trip.trippees.count }}/{{ trip.template.max_trippees }}</kbd>
      <a href="{% url 'core:assign_trippee' trips_year=trips_year trip_pk=trip.pk %}"> <i class="fa fa-plus"></i> </a>
    </td>

  </tr>
  {% endfor %}
</table>

{% endfor %}

{% endblock content %}
