{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load links %}

{% block header %}
  <h3> Add Leader to {{ trip }} <small> {{ trip.template.description_summary }} </small></h3>
{% endblock %}

{% block content %}

<h4> Current Assigned Leaders </h4>
<ul>
  {% for leader in trip.leaders.all %}
  <li>{{ leader|detail_link }} ({{ leader.gender|lower }})</li>
  {% endfor %}
</ul>

<h4> Prospective Leaders </h4>
<p> This list shows all leaders who indicated that they prefer of are available for {{ trip.template.triptype | detail_link }} and {{ trip.section | detail_link }}. Assigning a leader to a trip will change the leader's status to LEADER.
</p>

<table class="table table-condensed table=striped">
  <tr>
    <th/>
    <th> Score </th>
    <th> Gender </th>
    <th> Trip Assignment </th>
    <th> Status </th>
    <th> {{ trip.template.triptype }} </th>
    <th> {{ trip.section }} </th>
  </tr>
  {% for leader, assign_url, triptype_pref, section_pref in leader_applications %}
  <tr>
    <td> {{ leader|detail_link:leader }} </td>
    <td> {{ leader.avg_leader_score|floatformat:1|default:"&mdash;" }} </td>
    <td> {{ leader.gender|lower }} </td>
    <td>
      {% if leader.assigned_trip %}
      {{ leader.assigned_trip|detail_link }}
      {% else %}
      <a class="btn btn-xs btn-primary" href="{{ assign_url }}"> Assign to {{ trip }} </a>
      {% endif %}
    </td>
    <td> <a href="{% url 'core:volunteer:update_status' trips_year=trip.trips_year_id pk=leader.pk %}"> {{ leader.status }} </a></td>
    <td> {{ triptype_pref|lower }} </td>
    <td> {{ section_pref|lower }} </td>
  </tr>
  {% endfor %}
</table>


{% endblock content %}
