{% extends "core/base.html" %}
{% load links %}

{% block header %}
<h1> Campsites
  <a href="{% create_url view.model trips_year %}" class="btn btn-info" role="button">
    <i class="fa fa-plus"></i> New Campsite
  </a>
</h1>
{% endblock %}

{% block content %}

<div>
  <p> The date matrix shows which Scheduled Trips are staying at each campsite on that date.
  </p>
</div>

<table class="table table-condensed table-bordered table-hover">
  {% for campsite, dates in matrix.items %}

  {% if forloop.first %}
  <tr>
    <th>Campsite</th>
    <th>Capacity</th>
    {% for date in dates %}
    <th> {{ date|date:"n/j" }} </th>
    {% endfor %}
  </tr>
  {% endif %}

  <tr>
    <td> {{ campsite|detail_link}} </td>
    <td> {{ campsite.capacity|default:"&mdash;" }} </td>

    {% for date, trips in dates.items %}
    <td>
      {{ trips|detail_link|default:"" }}
    </td>
    {% endfor %}

  </tr>
  {% endfor %}
</table>

{% endblock %}
