{% extends "core/base.html" %}
{% load trips %}

{% block header %}
<h1 class="no-print"> Leader Packets <small> {{ section }} </small></h1>
{% endblock %}

{% block content %}

<div class="no-print alert alert-warning">
  <i class="fa fa-warning"></i> Print this packet <strong>single-sided</strong> to keep all trip information togeher.
</div>

{% for trip in trips %}
<div class="page-break-after">
  <div class="page-header">
    <h2> {{ trip.verbose_str }} </h2>
  </div>
  {% leader_packet trip %}
</div>
{% endfor %}
{% endblock %}
