{% extends "core/base.html" %}
{% load links %}

{% block header %}
<h1> Trip Templates
  <a href="{% create_url view.model trips_year %}" class="btn btn-info">
    <i class="fa fa-plus"></i> New Trip Template
  </a>
</h1>
{% endblock %}

{% block content %}

<div>
  <p> Trip Templates provide all the logistical information for a trip. </p>
</div>

<table class="table">
  <tr>
    <th> Template </th>
    <th> Trip Type </th>
    <th> Max trippees </th>
    <th> Campsite #1 </th>
    <th> Campsite #2 </th>
    <th> Dropoff </th>
    <th> Pickup </th>
  </tr>
  {% for template in templates %}
  <tr>
    <td> {{ template|detail_link }} </td>
    <td> {{ template.triptype|detail_link }} </td>
    <td> {{ template.max_trippees }} </td>
    <td> {{ template.campsite1|detail_link }} </td>
    <td> {{ template.campsite2|detail_link }} </td>
    <td> {{ template.dropoff_stop|detail_link }} </td>
    <td> {{ template.pickup_stop|detail_link }} </td>
    <td> {{ template|edit_link }} </td>
    <td> {{ template|delete_link }} </td>
  <tr>
  {% endfor %}
</table>

{% endblock %}
