{% extends "core/base.html" %}
{% load links %}
{% load urlencode %}

{% block header %}
  <h2> Scheduled Trips </h2>
{% endblock %}

{% block content %}

<div>
  <p> All trips which are scheduled to run this year. Each trip is identified by a <a href="{% url 'core:section:index' trips_year=trips_year %}">Section</a> and a <a href="{% url 'core:triptype:index' trips_year=trips_year %}">Trip Type</a>. Click <i class="fa fa-plus text-info"></i> to schedule a trip; click on a scheduled trip for more details. </p>
</div>

<table class="table table-condensed">

  {% for template, sections in matrix.items %}

  {% if forloop.first %}
  <tr>
    <th>Template</th>
    <th>Type</th>
    {% for section in sections %}
    <th class="text-center"> {{ section.name }} </th>
    {% endfor %}
  </tr>
  {% endif %}

  <tr>
    <td> {{ template | detail_link }} </td>
    <td> {{ template.triptype.name }} </td>

    {% for section, trip in sections.items %}
    <td class="text-center">
      {% if trip %}
      {{ trip | detail_link }}
      {% else %}
      <a href="{% url 'core:trip:create' trips_year=trips_year %}?{% urlencode section=section.pk template=template.pk %}"><i class="fa fa-plus"></i></a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>

  {% endfor %}
</table>

{% endblock %}
