{% extends "core/base.html" %}
{% load links %}
{% load icons %}

{% block header %}
<h1>
  Trip Types
  <a href="{% create_url view.model trips_year %}" class="btn btn-info" role="button">
    <i class="fa fa-plus"></i> New Trip Type
  </a>
</h1>
{% endblock %}

{% block content %}


<table class="table">
  <tr>
    <th>Trip type</th>
    <th>Hidden</th>
    <th>Trippee Description</th>
    <th>Leader Description</th>
  </tr>
  {% for type in triptypes %}
  <tr>
    <td>{{ type | detail_link }}</td>
    <td>{{ type.hidden | ok_if_true }}</td>
    <td>{{ type.trippee_description }}</td>
    <td>{{ type.leader_description }}</td>
    <td>{{ type | edit_link }}</td>
    <td>{{ type | delete_link }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
