{% load links %}

<table class="table table-condensed table-bordered">
  <tr>
    <th> Trip Template </th>
    {% for date in matrix.cols %}
    <th> {{ date|date:"n/d" }} </th>
    {% endfor %}
  </tr>

  {% for triptemplate, dates in matrix.items %}
  <tr>
    <td data-toggle="tooltip" data-placement="top" data-container="body" title="{{ triptemplate }}">
        {{ triptemplate|detail_link:triptemplate.name }}
    </td>

    {% for date, trip in dates.items %}
    <td class="text-center" style="background-color:{{ trip.color }}" data-toggle="tooltip" data-placement="top" data-container="body" title="Route: {{ trip.route }}">
        {{ trip|detail_link|default:"" }}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
