{% extends "core/base.html" %}
{% load links %}
{% load maps %}
{% load checklists %}

{% block header %}
<h2> {{ route }} <small> {{ section }} </small></h2>
{% endblock %}

{% block content %}

{% include "transport/_scheduled_alert.html" with scheduled=bus %}

<div class="alert alert-success">
  Go to the <a href="{% url 'core:checklists:all' trips_year=trips_year %}"> Packets </a> page for printable day-by-day External Bus packets.
</div>

{% if bus %}

{% url 'core:reports:bus_riders' trips_year=trips_year bus_pk=bus.pk as url_ %}
{{ url_|download_button:"Passenger Spreadsheet" }}

<h3> Directions To Hanover </h3>
{% directions_to_hanover bus %}

<h3> Directions From Hanover </h3>
{% directions_from_hanover bus %}
{% endif %}

<h3> Passengers To Hanover</h3>
{% regroup passengers_to_hanover by get_bus_to_hanover as grouping %}
{% for stop in grouping %}
<h5> {{ stop.grouper }} </h5>
{% person_checklist stop.list phone_numbers=True %}
{% endfor %}

<h3> Passengers From Hanover</h3>
{% regroup passengers_from_hanover by get_bus_from_hanover as grouping %}
{% for stop in grouping %}
<h5> {{ stop.grouper }} </h5>
{% person_checklist stop.list phone_numbers=True %}
{% endfor %}

{% endblock content %}
