{% extends "core/base.html" %}
{% load get from dict %}
{% load links %}
{% load tooltips %}

{% block header %}
<h2> Internal Bus Schedule </h2>
{% endblock %}

{% block content %}

<p> Each entry in the matrix represents an internal bus. Click <i class="fa fa-plus"></i> to schedule a transport. Click <i class="fa fa-bars"></i> to see route information.</p>
<p> Mouseover a bus in the matrix to see the total number of passengers carried. The matrix will warn you if transportation is not scheduled for a trip. The matrix will also warn you if the trips riding on a bus exceed the capacity of a bus at any point along the scheduled route.</p>

<table class="table table-condensed table-bordered">

  {% for route, dates in matrix.items %}

  {% if forloop.first %}
  <tr>
    <th> Route </th>
    {% for date in dates %}
    <th> {{ date|date:"n/d" }} </th>
    {% endfor %}
  </tr>
  {% endif %}

  <tr>
    <td> {{ route|detail_link }} </td>
    {% for date, transport in dates.items %}
    {% with riders=riders|get:route|get:date capacity=route.vehicle.capacity issue=issues|get:route|get:date %}
    <td>
      {% include "transport/_transport_detail.html" %}
    </td>
    {% endwith %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<div class="page-header">
  <h2 id="numbers"> Numbers </h2>
</div>

{% include "transport/internal_counts.html" %}

{% endblock content %}

{% block scripts %}
{% activate_tooltips %}
{% endblock %}
