
<p> The actual number of people each transport is dropping off, picking up, and returning on any given day. </p>

<table class="table table-condensed">

  {% with name="Dropoffs" matrix=dropoff_matrix %}
  {% include "transport/_count_table.html" %}
  {% endwith %}

  {% with name="Pickups" matrix=pickup_matrix %}
  {% include "transport/_count_table.html" %}
  {% endwith %}

  {% with name="Returns" matrix=return_matrix %}
  {% include "transport/_count_table.html" %}
  {% endwith %}

</table>
