{% extends "core/base.html" %}
{% load links %}
{% load maps %}

{% block header %}
<h2> {{ route|detail_link }} <small>{{ date|date:"n/j" }}</small> </h2>
{% endblock %}

{% block content %}

{% include "transport/_scheduled_alert.html" %}

{% if over_capacity %}
<div class="alert alert-danger">
  <i class="fa fa-warning"></i> This bus is over capacity! At some point there are too many passengers on the bus.
</div>
{% endif %}

{% if scheduled %}

{% if scheduled.use_custom_times %}
<div class="alert alert-warning">
  <i class="fa fa-warning"></i> This bus uses custom times. Pickup and dropoff times computed from Google Maps <strong>will not </strong> appear in packets.
</div>
{% endif %}

<div class="row">
  <div class="col-sm-6">
    <ol class="breadcrumb">
      <li><a href="{% url 'core:internalbus:order' trips_year=trips_year bus_pk=scheduled.pk %}"> <i class="fa fa-caret-right"></i> Rearrange Route & Set Custom Times </a></li>
    </ol>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb">
      <li><a href="{{ scheduled.update_url }}"> <i class="fa fa-caret-right"></i> Enable Custom Times & Edit Notes</a></li>
    </ol>
  </div>
</div>

{% if scheduled.notes %}
<h4> Notes </h4>
<p> {{ scheduled.notes|linebreaks }} </p>
{% endif %}

<div class="row">
  <div class="col-sm-8">
    {% embed_map stops %}
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-sm-6">
    {% if dropoffs %}
    <h4> Dropping Off </h4>
    <ul>
      {% for trip in dropoffs %}
      <li>{{ trip|detail_link }} &mdash; {{ trip.template.dropoff_stop|detail_link }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if pickups %}
    <h4> Picking Up </h4>
    <ul>
      {% for trip in pickups %}
      <li>{{ trip|detail_link }} &mdash; {{ trip.template.pickup_stop|detail_link }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if returns %}
    <h4> Returning to Campus </h4>
    <ul>
      {% for trip in returns %}
      <li>{{ trip|detail_link }}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>

</div>

{% endif %}

{% if not scheduled %}
<p class="h4"> Directions are only shown for scheduled buses. </p>
{% endif %}

{% if scheduled %}
{% directions scheduled %}
{% endif %}

{% endblock %}
