{% extends "core/base.html" %}
{% load links %}
{% load icons %}

{% block header %}
<h1> Gear Requests </h1>
{% endblock %}

{% block content %}

<div class="alert alert-info">
  The public gear request form is available at <a class="alert-link" href="{% url 'gear:request' %}"> this page. </a>
</div>

<div>
  {% url 'core:reports:gear_requests' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Gear Requests" }}
</div>
<br>
<table class="table table-condensed">
  <tr>
    <th> </th>
    <th class="text-center"> Role </th>
    {% for gear in matrix.cols %}
    <th class="text-center"> {{ gear }} </td>
    {% endfor %}
    <th></th>
 </tr>

  {% for gear_request, requested in matrix.items %}
  <tr {% if forloop.counter|divisibleby:2 %} class="active" {% endif %}>
    <td> {{ gear_request.requester|detail_link }} </td>
    <td class="text-center"> <span class="label label-primary"> {{ gear_request.role }} </span> </td>
    {% for gear, needed in requested.items %}

    <td class="text-center">
      {% if gear in gear_request.provided.all %}
      <i class="fa fa-check text-bright-success"></i>
      {% elif needed %}
      <i class="fa fa-question text-muted"></i>
      {% endif %}
    </td>
    {% endfor %}
    <td> <a href="{{ gear_request.update_url }}" class="btn btn-xs btn-primary"> <i class="fa fa-wrench"></i> Update </a> </td>
  </tr>

  {% if gear_request.additional %}
  <tr {% if forloop.counter|divisibleby:2 %} class="active" {% endif %}>
    <td></td>
    <td></td>
    <td colspan="{{ matrix.cols|length }}"><strong>Additional Requests:</strong> {{ gear_request.additional }}</td>
    <td></td>
  </tr>
  {% endif %}

  {% if gear_request.provided_comments %}
  <tr {% if forloop.counter|divisibleby:2 %} class="active" {% endif %}>
    <td></td>
    <td></td>
    <td colspan="{{ matrix.cols|length }}"> <strong>Response:</strong> {{ gear_request.provided_comments }}</td>
    <td></td>
  </tr>
  {% endif %}


  {% endfor %}
</table>

{% endblock %}
