{% extends "form.html" %}
{% load packing_list %}

{% block header %}
<h2> Request Gear {% if trip %}<small> Trip {{ trip }} </small>{% endif %}</h2>
{% endblock header %}

{% block content %}

{% if trip %}
<div class="alert alert-info">
  <strong> Please scroll down for the gear request form </strong>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    {% packing_list trip.template.triptype link_to_request_form=False%}
  </div>
</div>
{% endif %}

{{ block.super }}
{% endblock content%}
