{% extends "core/base.html" %}
{% load links %}
{% load icons %}

{% block header %}
<h1> Gear Requests </h1>
{% endblock %}

{% block content %}

<div>
  {% url 'core:reports:gear_requests' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Gear Requests" }}
</div>
<br>
<table class="table table-condensed table-striped">
  <tr>
    <th> </th>
    {% for gear in matrix.cols %}
    <th> {{ gear }} </td>
    {% endfor %}
    <th> Additional </th>
  </tr>
  {% for gear_request, requested in matrix.items %}
  <tr>
    <td> {{ gear_request.requester|detail_link }} </td>
    {% for gear, needed in requested.items %}
    <td> {{ needed|ok_if_true }} </td>
    {% endfor %}
    <td> {{ gear_request.additional }} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
