
{% load staticfiles %}

<head>

</head>
<body>


{% block content %}
{% endblock %}

{% block scripts %}

<!-- libraries -->
<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'bower_components/typeahead.js/dist/typeahead.bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'bower_components/typeahead.js-bootstrap-css/typeaheadjs.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- app specific javascripts -->
<script src="{% static 'dartdm/lookup.js' %}"></script>
{% endblock %}

</body>
