

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>


</head>
<body>

  {% block navbar %}
  {% include "navigation.html" %}
  {% endblock %}

  {% block page %}
  <div class="container">
    <div class="row">
      <div class="col-sm-2" id="left-column">
	{% block left_column %}
	{% endblock %}
      </div>

      <div class="col-sm-8">
	{% block messages %}
	{% include "messages.html" %}
	{% endblock %}

	{% block content %}
	{% endblock %}
      </div>

      <div class="col-sm-2" id="right-column">
	{% block right_column %}
	{% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  {% endblock footer %}
  
  {% block scripts %}

  <!---- site-specific ---->
  <link rel="stylesheet" href="{% static 'style.css' %}"></script>

  <!--- libraries -->
  <script src="{% static 'lib/jquery.js' %}"></script>
  <script src="{% static 'lib/typeahead.bundle.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/typeaheadjs.css' %}">

  <script src="{% static 'lib/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/bootstrap-theme.min.css' %}">

  <!--- must come after typeahead --->
  <script src="{% static 'dartdm/lookup.js' %}"></script>

  {% endblock %}


</body>
</html>
