

{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

</head>
<body>

  <div class="container">

    {% block messages %}
    <!----- django messages ----->  
    {% if messages %}
      {% for message in messages %}
 	<div class="alert alert-danger"> {{ message }} </div>
       {% endfor %}
    {% endif %}
    {% endblock %}

    {% block content %}
    <!---- main page content goes here ----->
    {% endblock %}
  </div>


  {% block scripts %}

  <!---- site-specific ---->
  <link rel="stylesheet" href="{% static 'style.css' %}"></script>

  <!--- libraries -->
  <script src="{% static 'lib/jquery.js' %}"></script>
  <script src="{% static 'lib/typeahead.bundle.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/typeaheadjs.css' %}">

  <script src="{% static 'lib/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/bootstrap-theme.min.css' %}">

  <!--- must come after typeahead --->
  <script src="{% static 'dartdm/lookup.js' %}"></script>

  {% endblock %}

</body>
</html>
