
<!--- site-wide navigation bar --->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url "home" %}>DOC Trips</a>
    </div>

    <!---- collapses to a dropdown for small screens -->
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">

	<li><a href="{% url 'leader:apply' %}">Leader Application</a></li>

	<li><a href="{% url 'croos:apply' %}">Croo Application</a></li>
	
	{% if perms.permissions.can_create_croo_application %}
	<li><a href="{% url 'croos:create_application' %}">Create Croo Application</a></li>
	{% endif %}

	{% if perms.permissions.can_grade_croo_applications %}
	<li><a href="{% url 'croos:grade_next' %}">Grade Croo Application</a></li>
	{% endif %}

	{% if perms.permissions.can_grade_applications %}
	<li><a href="{% url 'leader:grade_random' %}">Graders</a></li>
	{% endif %}

	{% if perms.permissions.can_access_db %}
	<li><a href="{% url 'db:db_redirect' %}">Database</a></li>
	{% endif %}

	{% if perms.permissions.can_set_access %}
	<li><a href="{% url 'permissions:set_permissions' %}"> Access </a></li>
	{% endif %}

	{% if perms.permissions.can_edit_timetable %}
	<li><a href="{% url 'timetable:timetable' %}"> Calendar </a></li>
	{% endif %}
	
      </ul>

      <!--- user infor --->
      <ul class="nav navbar-nav navbar-right">
	{% if user.is_authenticated %}
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	    {{ user }} <span class="caret">
	  </a>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="{% url 'user:logout' %}"> Logout </a></li>
	  </ul>
	</li>
	{% else %} 
	<li> <a class="navbar-link" href="{% url 'user:login' %}">Login</a></li>
	{% endif %}
      </ul>

    </div>
  </div>
</nav>
