{% extends "base.html" %}
{% load urlencode %}

{% block left_column %}
<div class="sidebar navbar-default no-print" role="navigation">
  <div class="sidebar-nav navbar-collapse">

    <ul id="sidebar-menu" class="nav text-muted">
      <li role="presentation">
        <a href="#"> <i class="fa fa-fw fa-fire"></i> Trips <i class="fa arrow"></i> </a>

        <ul class="nav nav-stacked">
          <li> <a href="{% url 'core:trip:index' trips_year=trips_year %}"> Scheduled Trips </a> </li>
          <li> <a href="{% url 'core:leader_index' trips_year=trips_year %}"> Leaders & Trippees </a> </li>
          <li> <a href="{% url 'core:trip:people_counts' trips_year=trips_year %}"> Leader & Tripee Counts </a> </li>
          <li> <a href="{% url 'core:section:index' trips_year=trips_year %}"> Sections </a> </li>
          <li> <a href="{% url 'core:triptemplate:index' trips_year=trips_year %}"> Trip Templates </a> </li>
          <li> <a href="{% url 'core:triptype:index' trips_year=trips_year %}"> Trip Types </a></li>
          <li> <a href="{% url 'core:campsite:index' trips_year=trips_year %}"> Campsites </a> </li>
        </ul>
      </li>

      <li>
        <a href="#"> <i class="fa fa-fw fa-bus"></i> Transport <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">
          <li> <a href="{% url 'core:internalbus:index' trips_year=trips_year %}"> Internal Buses </a> </li>
          <li> <a href="{% url 'core:internalbus:by_date' trips_year=trips_year %}"> Internal Buses By Date </a> </li>
          <li> <a href="{% url 'core:externalbus:matrix' trips_year=trips_year %}"> External Buses</a> </li>

          <li> <a href="{% url 'core:stop:index' trips_year=trips_year %}"> Stops </a></li>
          <li> <a href="{% url 'core:route:index' trips_year=trips_year %}"> Routes </a> </li>
          <li> <a href="{% url 'core:vehicle:index' trips_year=trips_year %}"> Vehicles </a> </li>
          <li> <a href="{% url 'core:transportconfig:settings' trips_year=trips_year %}"> Hanover & Lodge </a> </li>
        </ul>
      </li>

      <li>
        <a href="#"> <i class="fa fa-fw fa-heart"></i> Volunteers <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">
          <li> <a href="{% url 'core:volunteer:index' trips_year=trips_year %}?{% urlencode complete='either' %}"> Applications </a> </li>
          <li> <a href="{% url 'core:croo:index' trips_year=trips_year %}"> Croos </a> </li>
          <li> <a href="{% url 'core:graders:index' trips_year=trips_year %}"> Graders </a> </li>
        </ul>
      </li>

      <li>
        <a href="#"> <i class="fa fa-fw fa-language"></i> Training <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">
          <li><a href="{% url 'core:session:index' trips_year=trips_year %}"> Sessions </a></li>
          <li><a href="{% url 'core:attendee:first_aid' trips_year=trips_year %}"> First Aid </a></li>
        </ul>
      </li>

      <li>
        <a href="#"> <i class="fa fa-fw fa-child"></i> Trippees <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">
          <li> <a  href="{% url 'core:incomingstudent:index' trips_year=trips_year %}"> Incoming Students </a> </li>
          <li> <a  href="{% url 'core:registration:index' trips_year=trips_year %}"> Registrations </a> </li>
        </ul>
      </li>

      <li>
        <a href="#"> <i class="fa fa-fw fa-envelope"></i> Email Lists <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">
          <li> <a href="{% url 'core:emails:applicants' trips_year=trips_year %}"> Applicants </a> </li>
          <li> <a href="{% url 'core:emails:leaders_by_triptype' trips_year=trips_year %}"> Leaders By Triptype</a> </li>
          <li> <a href="{% url 'core:emails:leaders_by_section' trips_year=trips_year %}"> Leaders By Section</a> </li>
          <li> <a href="{% url 'core:emails:incoming' trips_year=trips_year %}"> Incoming Students </a> </li>
          <li> <a href="{% url 'core:emails:trippees' trips_year=trips_year %}"> Trippees  </a> </li>
        </ul>
      </li>

      <li>
        <a href="{% url 'core:safety:list' trips_year=trips_year %}"> <i class="fa fa-fw fa-exclamation"></i> Incident Reports</a>
      </li>

      <li>
        <a href="{% url 'core:raids:home' trips_year=trips_year %}"> <i class="fa fa-fw fa-map-signs"></i> Raids </a>
      </li>

      <li>
        <a href="{% url 'core:reports:tshirts' trips_year=trips_year %}"> <i class="fa fa-fw fa-dollar"></i> T-Shirts </a>
      </li>

      <li>
        <a href="{% url 'core:foodbox:counts' trips_year=trips_year %}"> <i class="fa fa-fw fa-cutlery"></i> Foodboxes </a>
      </li>

      <li>
        <a href="{% url 'core:reports:statistics' trips_year=trips_year %}"> <i class="fa fa-fw fa-bar-chart"></i> Statistics </a>
      </li>

      <li>
        <a href="{% url 'core:checklists:all' trips_year=trips_year %}"> <i class="fa fa-fw fa-list-ul"></i> Packets </a>
      </li>

      <li>
        <a href="#"> <i class="fa fa-fw fa-calendar"></i> Past Years <i class="fa arrow"></i> </a>
        <ul class="nav nav-stacked">

          {% for year in all_trips_years %}
          <li>
            <a href="{% url 'core:landing_page' trips_year=year %}">{{ year }}
              {% if year.year|lower == trips_year %}
              <i class="fa fa-check"></i>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>

  </div>
</div>
{% endblock %}

{% block messages %}
{# Warn if looking at a previous year #}
{% if trips_year != current_trips_year %}
<div class="alert alert-warning">
  This page is for Trips {{ trips_year }}.
  <a href="{% url 'core:current' %}"> Return to {{ current_trips_year }} </a>
</div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  $(function () {
  $('#sidebar-menu').metisMenu();
  });
</script>
{% endblock %}
