
{# common header information for Trip and Croo application #}

{% load tz %}

<div class="page-header">
  <h1>Trip Leader and Croo Applications <small>Trips {{ trips_year }}</small></h1>
</div>

<p>Not <b>{{ user }}</b>? <a href="{% url 'users:logout' %}">logout</a></p>

<div>
<div class="alert alert-info" role="alert">
The application will be available until <strong>{{ timetable.applications_close | localtime}}</strong>
</div
</div>

<div class="expand-whitespace"><p> {{ information.application_header }}</p></div>

