
{# common header information for Trip and Croo application #}

{% load tz %}

<div class="page-header">
  <h1>Trip Leader and Croo Applications <small>Trips {{ trips_year }}</small></h1>
</div>

<p><strong> Not {{ user }}</strong>? <a href="{% url 'users:logout' %}">logout</a></p>

<div>
<div class="alert alert-info" role="alert">
The application will be available until <strong>{{ timetable.applications_close | localtime}}</strong> You can return at any time up until this date to complete your application.
</div
</div>

