
{% load staticfiles %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">

<head>
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{% static 'icons/favicon.ico' %}"/>

<title>DOC Trips</title>

{% block css %}
{% stylesheet "base" %}
{% endblock %}

</head>

<body>

  {% block navbar %}
  {% include "navigation.html" %}
  {% endblock %}

  {% block page %}
  <div class="container" id="page-wrapper">
    <div class="row">
      <div class="col-sm-2" id="left-column">
	{% block left_column %}
	{% endblock %}
      </div>

      <div class="col-sm-8">
	<div>
	{% block messages %}
	{% include "messages.html" %}
	{% endblock %}
	</div>

	<div class="page-header">
	{% block header %}
	{% endblock header %}
	</div>

	<div>
	{% block content %}
	{% endblock %}
	</div>
      </div>

      <div class="col-sm-2" id="right-column">
	{% block right_column %}
	{% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  {% endblock footer %}

  {% block javascript %}
  {% javascript "base" %}
  {% endblock %}

  {% block scripts %}
  {# for sub-template added assets #}
  {% endblock %}

</body>
</html>
