{% load links %}
{% load maps %}

{% if error %}
<p class="h4"> Maps Error: {{ error }} </p>
{% else %}

<p>
  <ul class="list-group">
    {% for leg in directions.legs %}

    <li class="list-group-item {% if leg.start_stop.over_capacity %} list-group-item-danger {% endif %}">
      <h3 class="list-group-item-heading"> {{ leg.start_stop.location_str }} </h3>
      <p> {{ leg.start_stop.directions }} </p>
      {% include stop_template with stop=leg.start_stop %}
      <p class="h5 text-muted">
        You should have {{ leg.start_stop.passenger_count }} passengers.
      </p>
    </li>

    {% if leg.start_time %}
    <li class="list-group-item {% if leg.start_stop.over_capacity %} list-group-item-danger {% endif %}">
      <p class="h5"> <i class="fa fa-clock-o"></i> Leave at {{ leg.start_time }} </p>
    </li>
    {% endif %}

    {% for step in leg.steps %}
    <li class="list-group-item {% if leg.start_stop.over_capacity %} list-group-item-danger {% endif %}">
      {{ step.html_instructions|safe }} &mdash; {{ step.distance.text }}
    </li>
    {% endfor %}

    {% if leg.end_time %}
    <li class="list-group-item {% if leg.start_stop.over_capacity %} list-group-item-danger {% endif %}">
      <p class="h5"> <i class="fa fa-clock-o"></i> Arrive at {{ leg.end_time }} </p>
    </li>
    {% endif %}

    {% if forloop.last %}
    <li class="list-group-item">
      <h3 class="list-group-item-heading">{{ leg.end_stop.location_str }}</h3>
      {% include stop_template with stop=leg.end_stop %}
      <p class="h5 text-muted">
        You should have {{ leg.end_stop.passenger_count }} passengers.
      </p>
    </li>
    {% endif %}

    {% endfor %}
  </ul>
</p>
{% endif %}
