{% extends "db/base.html" %}
{% load links %}

{% block content %}

<table class="table">
  <tr>
    <th> Template </th>
    <th> Description </th>
    <th> Trip Type </th>
    <th> Max trippees </th>
    <th> Campsite #1 </th>
    <th> Campsite #2 </th>
  </tr>
  {% for template in templates %}
  <tr>
    <td>{{ template|absolute_link }}</td>
    <td>{{ template.description }}</td>
    <td>{{ template.trip_type|absolute_link }}</td>
    <td>{{ template.max_trippees }}</td>
    <td>{{ template.campsite_1|absolute_link }}</td>
    <td>{{ template.campsite_2|absolute_link }}</td>
    <td>{{ template|edit_link }}</td>
    <td>{{ template|delete_link }}</td>
  <tr>
  {% endfor %}
</table>

<a href="{% create_url model trips_year %}" class="btn btn-primary" role="button">
  Add a trip template
</a>

{% endblock %}
