
{% extends "db/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div>
  <h4> Leader application for {{ object.applicant }} </h4>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h5> Preferred trips </h5>
    <p> 
      {% for pair in preferred_trips %} 
      {{ pair.0 }}: 
        {% for trip in pair.1 %}
        {{ trip }}
        {% endfor %}
      {% endfor %}
    </p>
    <h5> Available trips </h5>
    <p> 
      {% for pair in available_trips %} 
      {{ pair.0 }}: 
        {% for trip in pair.1 %}
        {{ trip }}
        {% endfor %}
      {% endfor %}
    </p>
  </div>
</div>
{% crispy form %}

{% endblock %}

{# add DateTimePicker js #}
{% block scripts %}
{{ block.super }}
{{ form.media }}
{% endblock scripts %}
