{% extends "db/base.html" %}
{% load links %}

{% block content %}

<table class="table">
  <tr> 
    <th> Name </th>
    <th> Status </th>
    <th> Assignment </th>
    <th> Gender </th>
    <th> Class </th>
  </tr>

  {% for application in leaderapplications %}
  <tr>
    <td>{{ application|detail_link:application.user }}</td>
    <td>{{ application.status }}</td>
    {% if application.assigned_trip %}
    <td>{{ application.assigned_trip|detail_link }}</td>
    {% else %}
    <td>{{ application|edit_link:"assign trip" }}</td>
    {% endif %}
    <td>{{ application.gender }}</td>
    <td>{{ application.class_year }}</td>
    
    <td>{{ application|edit_link }}</td>

  </tr>
  {% endfor %}
</table>
  
{% endblock %}
