{% load crispy_forms_tags %}
{% load icons %}

{% if form_invalid %}
<div class="alert alert-danger">
  <h4><i class="fa fa-warning"></i> Issues </h4>
  <p> You cannot submit your application until you resolve each of the following issues: </p>
  <p>
    {% for form_or_formset in forms %}
    {% if form_or_formset.management_form %} {# is a formset #}
    {% with formset=form_or_formset %}
    {{ formset.non_form_errors }}
    {% for form in formset.forms %}
    {% include "applications/_link_to_form_errors.html" %}
    {% endfor %}
    {% endwith %}

    {% else %}
    {% with form=form_or_formset %}
    {{ form.non_field_errors }}
    {% include "applications/_link_to_form_errors.html" %}
    {% endwith %}
    {% endif %}
    {% endfor %}
  </p>
</div>
{% endif %}

{% include "applications/_application_header.html" %}

<div><p> {{ information.application_header|safe }}</p></div>

<div>
  <form action="" method="post" enctype="multipart/form-data">
    {% for form in forms %}
    {% crispy form %}
    {% endfor %}
    <input type="submit" name="save-application" value="Save" class="btn btn-primary" id="submit-id-submit"/>
    <input type="submit" name="submit-application" value="Submit" class="btn btn-primary" id="submit-id-submit"/>
  </form>
</div>
