<div class="panel panel-default application-header">
  <div class="panel-body">
    <p>
      {% if application.leader_application_complete %}
      <i class="fa fa-square-o"></i>
      <strong>Your Trip Leader application is <span class="label label-info">READY TO SUBMIT</span></strong>
      <p> You have answered all the required questions, but still need to submit your application. </p>

      {% elif application.leader_willing %}
      <i class="fa fa-square-o"></i>
      <strong>Your Trip Leader application is <span class="label label-danger">INCOMPLETE</span></strong>
      <p>You still need to answer all the application questions and submit your application.</p>

      {% else %}
      <i class="fa fa-square-o"></i>
      <strong>Your Trip Leader application is <span class="label label-warning">NOT STARTED</span></strong>
      <p>You are not currently applying for a Trip Leader position.</p>
      {% endif %}
    </p>

    <p>
      {% if application.croo_application_complete %}
      <i class="fa fa-square-o"></i>
      <strong>Your Crooling application is <span class="label label-info">READY TO SUBMIT</span></strong>
      <p> You have answered all the required questions, but still need to submit your application. </p>

      {% elif application.croo_willing %}
      <i class="fa fa-square-o"></i>
      <strong>Your Crooling application is <span class="label label-danger">INCOMPLETE</span></strong>
      <p>You still need to answer all the application questions and submit your application.</p>

      {% else %}
      <i class="fa fa-square-o"></i>
      <strong>Your Crooling application is <span class="label label-warning">NOT STARTED</span></strong>
      <p>You are not currently applying for a Crooling position.</p>
      {% endif %}
    </p>
  </div>
</div>
