
<p>
  <strong>
  {% if application.leader_application_complete %}
  <i class="fa fa-check-square-o"></i>
  Your Trip Leader application is complete.
  {% else %}
  <i class="fa fa-square-o"></i>
  You have not completed a Trip Leader application.
  {% endif %}
  </strong>
</p>

<p>
  <strong>
  {% if application.croo_application_complete %}
  <i class="fa fa-check-square-o"></i>
  Your Croo application is complete.
  {% else %}
  <i class="fa fa-square-o"></i>
  You have not completed a Croo application.
  {% endif %}
  </strong>
</p>
