{% extends "db/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load links %}

{% block header %}
<h2> <span class="badge"> {{ application_count }} </span> Volunteers </h2>
{% endblock %}

{% block right_column %}
{% crispy applications_filter.form %}
{% endblock %}

{% block content %}
<div>
  {% url 'db:reports:all_apps' trips_year=trips_year as url_ %}
  {{ url_|download_button:"All Applications" }}

  {% url 'db:reports:volunteer_dietary' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Dietary Restrictions" }}

  {% url 'db:reports:leaders' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Trip Leaders" }}

  {% url 'db:reports:croo_members' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Croo Members" }}
</div>

{% render_table table %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
