{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load links %}

{% block header %}
<h2> <span class="badge"> {{ application_count }} </span> Volunteers </h2>
{% endblock %}

{% block right_column %}
{% crispy applications_filter.form %}
{% endblock %}

{% block content %}
<div class="header-buttons">
  {% url 'core:reports:all_apps' trips_year=trips_year as url_ %}
  {{ url_|download_button:"All Applications" }}

  {% url 'core:reports:dietary' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Dietary Restrictions" }}

  {% url 'core:reports:medical' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Medical Info" }}

  {% url 'core:reports:leaders' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Trip Leaders" }}

  {% url 'core:reports:croo_members' trips_year=trips_year as url_ %}
  {{ url_|download_button:"Croo Members" }}
</div>

{% render_table table %}

{% endblock %}
