
{# common header information for Trip and Croo application #}

<p><strong> Not {{ user }}</strong>? <a href="{% url 'users:logout' %}">logout</a></p>

<div>
<div class="alert alert-info" role="alert">
The application will be available until <strong>{{ timetable.applications_close }}</strong> You can return at any time up until this date to complete your application. There is no "submit" button. After the deadline we will read and score the most recently saved version of your application.
</div
</div>
