{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load detail_view %}
{% load convert %}

{# generic grading view for both Croo and Leader applications #}

{% block header %}
  <h3> {{ title }} </h3>
{% endblock %}

{% block content %}

{% if already_graded_by %}
<div>
  <p><strong>Already graded by</strong> {{ already_graded_by|join:", " }} </p>
</div>
{% endif %}

<p> Read the application completely before assigning it a score:
  <ul class="list-unstyled">
    {% for score in score_choices %}
    <li> {{ score }} </li>
    {% endfor %}
  </ul>
</p>

<p> Justify your score in the <strong>comments</strong> section. Specifically articulate why you gave the score you did and list important <strong>hard</strong> and <strong>soft skills</strong> that set this applicant apart. Details and examples are way more important than generalizations. </p>

<p><strong> If you recognize an applicant, skip the application! </strong></p>

{% display_docx_filefield_as_html application.application.document %}

{% if extra_fields %}
<div class="well">
  {% for label, field in extra_fields %}
  <p><strong>{{ label }}:</strong> {{ field }} </p>
  {% endfor %}
</div>
{% endif %}


<div>
  {% crispy form %}
</div>

{% endblock content %}
