{% extends "core/base.html" %}

{% load dict %}
{% load progress %}

{% block header %}
<h2> Graders </h2>
{% endblock %}

{% block content %}

{% scoring_progress progress %}

<table class="table table-condensed">

<tr>
  <th> Grader </th>
  <th class="text-center"> Number of Scores </th>
  <th class="text-center"> Average Leader Score </th>
  {% for x in score_choices %}
  <th class="text-center"> {{ x }} </th>
  {% endfor %}
  <th class="text-center"> Average Croo Score </th>
  {% for x in score_choices %}
  <th class="text-center"> {{ x }} </th>
  {% endfor %}
</tr>

{% for grader in graders %}
<tr>
  <td> {{ grader }} </td>
  <td class="text-center"> {{ grader.score_count }} </td>
  <td class="text-center"> {{ grader.avg_leader_score|floatformat:1 }} </td>
  {% for x in score_choices %}
  <td class="text-center text-muted"> {{ grader.leader_score_histogram|get:x|default:'-' }} </td>
  {% endfor %}
  <td class="text-center"> {{ grader.avg_croo_score|floatformat:1 }} </td>
  {% for x in score_choices %}
  <td class="text-center text-muted"> {{ grader.croo_score_histogram|get:x|default:'-' }} </td>
  {% endfor %}
</tr>

{% endfor %}

</table>

{% endblock content %}
