{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load answers %}

{% block header %}
  <h3> {{ headline }} </h3>
{% endblock %}

{% block content %}

<p> Read the application completely before assigning it a score. </p>

<p><strong> If you recognize an applicant, skip the application! </strong></p>

<div>
  {% if application.leader_application_complete %}
  <p>This is a <span class="label label-primary">LEADER APPLICATION</span></p>
  {% endif %}
  {% if application.croo_application_complete %}
  <p>This is a <span class="label label-primary">CROO APPLICATION</span></p>
  {% endif %}
</div>

<div>
  {% display_answers application %}
</div>

<div>
  {% crispy form %}
</div>

{% endblock content %}
