{% extends "core/base.html" %}

{% load dict %}
{% load progress %}

{% block header %}
<h2> Graders </h2>
{% endblock %}

{% block content %}

{% scoring_progress progress %}

<table class="table table-condensed">

<tr>
  <th> Grader </th>
  {% if show_old_grades %}
  <th> Number of Leader Grades </th>
  <th> Average Leader Grade </th>
  <th> Number of Croo Grades </th>
  <th> Average Croo Grade </th>
  {% else %}
  <th> Number of Scores </th>
  <th class="text-center"> Average Leader Score </th>
  {% for x in score_choices %}
  <th> {{ x }} </th>
  {% endfor %}
  <th class="text-center"> Average Croo Score </th>
  {% for x in score_choices %}
  <th> {{ x }} </th>
  {% endfor %}

  {% endif %}
</tr>

{% for grader in graders %}
<tr>
  <td> {{ grader }} </td>
  {% if show_old_grades %}
  <td> {{ grader.leader_grade_count }} </td>
  <td> {{ grader.avg_leader_grade|floatformat:1 }} </td>
  <td> {{ grader.croo_grade_count }} </td>
  <td> {{ grader.avg_croo_grade|floatformat:1 }} </td>
  {% else %}
  <td> {{ grader.score_count }} </td>
  <td class="text-center"> {{ grader.avg_leader_score|floatformat:1 }} </td>
  {% for x in score_choices %}
  <td> {{ grader.leader_score_histogram|get:x|default:'-' }} </td>
  {% endfor %}
  <td class="text-center"> {{ grader.avg_croo_score|floatformat:1 }} </td>
  {% for x in score_choices %}
  <td> {{ grader.croo_score_histogram|get:x|default:'-' }} </td>
  {% endfor %}
  {% endif %}
</tr>

{% endfor %}

</table>

{% endblock content %}
