{% extends "base.html" %}
{% load trip_assignment %}
{% load gear %}

{% block header %}
<h1>Volunteers <small> Trips {{ trips_year }} </small></h1>
{% endblock %}

{% block content %}

{% include "applications/_user_check.html" %}

<h2> Trip Leader and Croo Application </h2>

{% if application.submitted %}
  <p>
    <i class="fa fa-check-square-o"></i>
    <strong>Your application is <span class="label label-success">SUBMITTED</span></strong>
    <p> Thanks for applying! </p>
  </p>

  {% if application.gear_request %}
  {% gear_request_portal application.gear_request %}
  {% endif %}

  <h3> Application Status </h3>
  {% if application_status_available %}
    <p>{{ status_description|safe }}</p>

    {% if show_trainings %}
    <h2> Trainings </h2>
    <p> <a href="{% url 'training:signup' %}"> <i class="fa fa-calendar"></i> Register for Trip Leader and Croo Trainings </a></p>
    {% endif %}

    {% if show_trip_assignment %}
    <h2> Trip Assignment </h2>
    {% trip_assignment application.trip_assignment content %}
    {% endif %}

  {% else %}
    <p> The status of your application is not available at this time. </p>
  {% endif %}

{% else %}
  {% if applications_available or within_deadline_extension %}

    {% include "applications/_application_header.html" %}

    {% if within_deadline_extension %}
    <div class="alert alert-info">
      <p>You have an extension to the application deadline until {{ application.deadline_extension }}.</p>
    {% else %}
    <div>
    {% endif %}

    {% if application %}
    <a href="{% url 'applications:continue' %}" class="btn btn-primary" role="button"> Continue Application </a>
    {% else %}
    <form action="{% url 'applications:start' %}" method="post" enctype="multipart/form-data" id="start-application">
      {% csrf_token %}
      <input type="submit" name="submit" value="Apply to Trips" class="btn btn-primary"></input>
    </form>
    {% endif %}

    </div>
  {% endif %}
{% endif %}


{% endblock %}
