{% extends "base.html" %}

{% block header %}
<h1>Volunteers <small> Trips {{ trips_year }} </small></h1>
{% endblock %}

{% block content %}

<p><strong> Not {{ user }}</strong>? <a href="{% url 'users:logout' %}">Logout <i class="fa fa-sign-out"></i></a></p>

<h2> Trip Leader and Croo Application </h2>
<strong>
{% if timetable.applications_available %}
<p><a href="{% url 'applications:apply' %}"> <i class="fa fa-edit"></i> Edit your application &mdash; available until {{ timetable.applications_close }} </a></p>
{% endif %}
</strong>

{% include "applications/_application_complete.html" %}

<h2> Application Status </h2>
{% if timetable.application_status_available %}
<p>{{ status_description|safe }}</p>
{% else %}
<p> The status of your application is not available at this time. </p>
{% endif %}

<h2> Trainings </h2>
<p> <a href="{% url 'training:signup' %}">Sign up for Trip Leader and Croo Trainings </a> </p>

{% if is_trip_leader %}
{% if timetable.leader_assignment_available %}
{% with trip=application.assigned_trip %}
{% include "applications/_leader_assignment.html" %}
{% endwith %}
{% else %}
<p> Information about Trip assignments is not available at this time. </p>
{% endif %}
{% endif %}

{% endblock %}
