{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pipeline %}

{% block content %}
<div>
<h3> Set up Croo and Trip Leader application for Trips {{ trips_year.year }} </h3>

{# TODO: show last year's application questions? #}

<p> Hi directors! This is where you set up the Leader and Croo application. You need to do a few things:
<ol>
  <li> Upload the Leader application questions and Croo application questions. They should be .docx format. </li>
  <li> Go into the database and add this year's <a href="{% url 'db:section:index' trips_year=trips_year.year %}">Sections</a>. </li> 
  <li> Make any changes to this year's <a href="{% url 'db:triptype:index' trips_year=trips_year.year %}">Trip Types</a>. Applicants see the 'Leader description' of each trip type.</li>
  <li> Edit the information below, as needed. </li>
  <li> Pick the date that the application becomes available and the application deadline. Put these dates in the <a href="{% url 'timetable:timetable' %}">Calendar</a>. Of course, feel free to play around with these and test the application.</li>
</ol>
</p>

</div>

{% crispy form %}
{% endblock content %}

{% block scripts %}
{% javascript "summernote" %}
{% endblock %}

