{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
<h2> Update trip assignment <small>{{ object }}</small> </h2>
{% endblock %}

{% block content %}

<h5> Preferred Trips </h5>
<p>
  {% regroup preferred_trips by template.triptype as trips %}
  {% include "applications/_group_by_triptype.html" %}
</p>
<h5>Available Trips </h5>
<p>
  {% regroup available_trips by template.triptype as trips %}
  {% include "applications/_group_by_triptype.html" %}
</p>

{% crispy form %}

{% endblock content %}
