{% extends "db/detail.html" %}
{% load links %}
{% load detail_view %}

{# Special template for CrooApplication details.  apps cannot be 
deleted, so the delete_link cannot be generated. #}

{% block links %}
{{ object | edit_link }}
{% endblock links %}

{% block content %}
{{ block.super }}

<h4> Grades </h4>
{% for grade in crooapplication.grades.all %}
<div class="panel panel-default">
  <div class="panel-body">
    {{ grade.grader }}: <strong>{{ grade.grade}}</strong> &mdash; {{ grade.comments }}
  </div>
</div>
{% endfor %}

<h4> Answers </h4>
<table class="table table-condensed table-striped">
{% for answer in object.answers.all %}

<tr>
  <td class="col-sm-3 text-right"><strong>{{ answer.question.question }}</strong></td>
  <td>{{ answer.answer }}</td>
</tr>

{% endfor %}
</table>


{% endblock content %}

